.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.25rem;
}

.textarea {
  width: 100%;
}

.button {
  width: fit-content;
}